.profile__info {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  color: white;
}
@media screen and (max-width: 767px) {
  .profile__info {
    margin: 0 auto 36px;
    justify-content: center;
    }
  }